body {
    font-family: sans-serif;
    text-align: center;
    background: #f2f2f2;
    padding-top: 50px;
}

#wpis {
    width: 240px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    height: 50px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    min-width: 50px;
}
